/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}
/******************************************
/* TYPOGRAPHY
/*******************************************/
@font-face {
  font-family: "America_R";
  src: url("gt-america-standard-regular.ttf");
}


h1 {
  font-family: "America_R";
  font-weight: 300;
  font-size: 120px;
  margin: 0px;
}
h2 {
  font-family: "America_R";
  font-weight: 100;
  font-size: 90px;
  margin: 0px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
h3{
  font-family: "America_R";
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 1px;
  margin: 0px;
  text-transform: uppercase;
}
h4 {
  font-family: "America_R";
  font-weight: 400;
  font-size: 28px;
  line-height: 32px;
  letter-spacing: 0.5px;
  margin: 0px;
  text-transform: none;
}
h5 {

}
h6 {
  font-family: "America_R";
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
}
p {
  font-family: "America_R";
  font-weight: 400;
  font-size: 12.5px;
  line-height: 19px;
  letter-spacing: -.25px;
  margin: 0px;
}
/******************************************
/* Base
/*******************************************/
body {
  margin: 0;
  cursor: url('https://ibb.co/khkeMy'), default;
}
a {
  color: black;
}
a:link{
  text-decoration: none;
  color: black;
}
a:hover{
color: transparent;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width: 1.75px;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
img {
  margin-bottom: 0px;
}
dt {
  color: transparent;
}
dt::first-letter {
  color: white;
  -webkit-text-stroke-color: #000FFF;
  -webkit-text-stroke-width: 1.75px;
}
/* For testing */
dt:hover {
  color: transparent;
  -webkit-text-stroke-color: #000FFF;
  -webkit-text-stroke-width: 1.75px;
}
/******************************************
/* HOME PAGE
/*******************************************/
Iframe {
width: 100%;
height:auto;
}
video:-webkit-full-page-media {
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    max-height: 100%;
    max-width: 100%;
    margin: auto;
}
.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
}
.video-container iframe,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.videos {
  margin-bottom: 15px;
}
#Hey {
  width: 100%;
  text-align: center;
}
#project-desktop {
  display:block;
}
#project-names {
  float: left;
  width: 100%;
  margin-top: 0px;
}
.project-name {
  width: 100%;
  text-align: center;
}
#project-image {
  position: absolute;
  z-index: -2;
  width: 100%;
  top: 20%;
}
.pImage {
  width: 100%;
  position: fixed;
  z-index: 200;
}
.ICO-HP {
  width: 100%;
  margin-top: 0px;
  padding-left: 30%;
  padding-right: 30%;
}
.Atom-HP {
  width: 100%;
  margin-top: 0px;
  padding-left: 20%;
  padding-right: 20%;
}
.BLOC-HP {
  width: 100%;
  margin-top: -70px;
  padding-left: 28%;
  padding-right: 28%;
  transform: rotate(28deg);
}
.BS-HP {
  width: 100%;
  margin-top: 0px;
  padding-left: 20%;
  padding-right: 20%;
}
.D-HP {
  width: 100%;
  padding-left: 20%;
  padding-right: 20%;
}
.MM-HP {
  width: 110%;
  margin-top: -50px;
  padding-left: 12.5%;
  padding-right: 5%;
}
.Forge-HP {
  width: 100%;
  margin-top: 0px;
  padding-left: 25%;
  padding-right: 20%;
}
.Noat-HP {
  width: 100%;
  margin-top: 40px;
  padding-left:25%;
  padding-right: 25%;
}
#project-numbers {
  width: 100%;
  position: absolute;
  bottom: 30px;
  margin: -20px;
}
.project-number {
  float: left;
  text-align: center;
  width: 11.11%;
}
/* HOME PAGE PHONE */
#phone-HP {
  float: left;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 25px;
  display: none;
}
.phone-gallery {
  float: left;
  width: 100%;
  display: none;
}
/******************************************
/* Interior Project Pages
/*******************************************/
.go-back {
  position: absolute;
  z-index: 200;
  top: 48%;
}
.go-back-text {
  position: fixed;
  right: 25px;
}
.project-text {
  position: fixed;
  float: left;
  width:100%;
  padding-right: 5%;
  padding-left: 25px;
  padding-bottom: 25px;
}
.project-gallery {
  margin-top: 400px;
  float: left;
  width:100%;
  height: auto;
  padding-left: 8%;
  padding-right: 8%;
  background: transparent;
}
.first {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}
.project-gi {
  width: 100%;
  height: auto;
  margin-bottom: 5px;
  margin-top: 5px;
}
.parallax-window {
    min-height: 1000px;
    width: 100%;
    background: transparent;
}
.client {
  float: left;
  width: 50%;
  clear: both;
  padding-left: 25px;
  padding-top: 25px;
}
.info {
  width: 50%;
  float: right;
  padding-left: 25px;
  padding-top: 25px;
}

@media (min-width: 500px) and (max-width: 1098px) {
  /******************************************
  /* TYPOGRAPHY
  /*******************************************/
  h1 {
    font-family: "America_R";
    font-weight: 300;
    font-size: 120px;
    margin: 0px;
  }
  h2 {
    font-family: "America_R";
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    margin: 0px;
    letter-spacing: -.3px;
    text-transform: none;
  }
  h3{
    font-family: "America_R";
    font-weight: 400;
    font-size: 12.75px;
    line-height: 15px;
    letter-spacing: 0.2px;
    margin: 0px;
    text-transform: none;
  }
  h4 {
    font-family: "America_R";
    font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -.2px;
  margin: 0px;
    margin: 0px;
    text-transform: none;
  }
  h5 {
  }
  h6 {
    font-family: "America_R";
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
  }
  p {
    font-family: "America_R";
    font-weight: 400;
    font-size: 12.5px;
    line-height: 19px;
    letter-spacing: -.25px;
    margin: 0px;
  }
/******************************************
/* PROJECTS
/*******************************************/
body {
  margin: 25px;
}
#project-desktop {
    display: none;
  }
#phone-HP {
  float: left;
  width: 100%;
  margin-top: 0px;
  display: block;
}
#bloc #diesel #ico #noat #mit{
  padding-bottom: 45px;
}
  .intro-image {
    height: 500px;
    width: 100%;
    border: 1px solid black;
    margin-bottom: 40px;
    display: none;
  }
  .breakdown {
    margin-left: -35px;
    display: none;
  }
  .projecto-phone {
    float: left;
    width: 70%;
    padding-right: 2%;
    margin-top: -5px;
  }
  .cycle-slideshow {
    width: 100%;
    margin-bottom: 40px;
  }
  .cycle-slideshow img {
    width: 100%;
    height: auto;
    margin-bottom: 8px;
  }
  img.cycle-next {
    cursor: not-allowed;
  }
  /* CAROUSEL */
  figcaption {
    padding-left: 0px;
    padding-right: 10%;
    padding-top:6px;
  }
  .cycle-prev {
    left: 0;
    background: url(https://pixsector.com/cache/852dce6a/avb91899cb3246210ca63.png) 50% 50% no-repeat;
  }
  .cycle-next {
    right: 0;
    background: url(https://malsup.github.com/images/right.png) 50% 50% no-repeat;
  }
  .cycle-prev, .cycle-next {
    position: absolute;
    top: 0;
    width: 30%;
    opacity: 0;
    filter: alpha(opacity=0);
    z-index: 800;
    height: 100%;
    cursor: url('https://ibb.co/cc26XS' 2 2, default);
  }
  .cycle-caption {
    text-align: right;
    margin-top: 6px;
    float: right;
    clear: both;
    font-family: "Presicav";
    font-size: 11px;
  }
/******************************************
/* ASIDE
/*******************************************/
aside {
  width: 30%;
  float: right;
  padding-left: 1%;
}
}

@media only screen and (max-width: 499px){
/******************************************
/* PROJECTS
/*******************************************/
body {
  margin: 25px;
}
  h1 {
    font-family: "America_R";
    font-weight: 300;
    font-size: 120px;
    margin: 0px;
  }
  h2 {
    font-family: "America_R";
    font-weight: 400;
    font-size: 28px;
    line-height: 32px;
    margin: 0px;
    letter-spacing: -.3px;
    text-transform: none;
  }
  h3{
    font-family: "America_R";
    font-weight: 400;
    font-size: 12.75px;
    line-height: 15px;
    letter-spacing: 0.2px;
    margin: 0px;
    text-transform: none;
  }
  h4 {
    font-family: "America_R";
    font-weight: 600;
  font-size: 20px;
  line-height: 20px;
  letter-spacing: -.2px;
  margin: 0px;
    margin: 0px;
    text-transform: none;
  }
  h5 {

  }
  h6 {
    font-family: "America_R";
    font-weight: 400;
    font-size: 30px;
    line-height: 30px;
    margin: 0px;
  }
  p {
    font-family: "America_R";
    font-weight: 400;
    font-size: 12.5px;
    line-height: 19px;
    letter-spacing: -.25px;
    margin: 0px;
  }
/******************************************
/* PROJECTS
/*******************************************/
#project-desktop {
  display:none;
}
#phone-HP {
  float: left;
  width: 100%;
  margin-top: 0px;
  display: block;
}
#bloc, #diesel, #ico, #noat, #mit{
  padding-bottom: 25px;
}
  .projects {
    float: left;
    width: 100%;
  }
  .cycle-slideshow {
    width: 100%;
  }
  .cycle-slideshow img {
    width: 100%; height: auto;
  }
  figcaption {
    padding-left: 0px;
    padding-right: 10%;
    padding-top: 5px;
  }
  .cycle-caption {
    text-align: center;
    margin-top: 6px;
    float: right;
    clear: both;
    font-family: "Presicav";
    font-size: 11px;
  }
/******************************************
/* ASIDE
/*******************************************/
aside {
  width: 100%;
  margin-top: 0px;
  margin-bottom: 25px;
  margin-left: 0%;
}
.news {
  display: none;
}
}
