/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}


/******************************************
/* BASE STYLES
/*******************************************/
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}
.clear {
	clear: both;
}
.alignright {
	float: right;
	padding: 0 0 10px 10px; /* note the padding around a right floated image */
}
.alignleft {
	float: left;
	padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* TYPOGRAPHY
/*******************************************/
@font-face {
  font-family: "America_R";
  src: url("gt-america-standard-regular.ttf");
}


h1 {
  font-family: "America_R";
  font-weight: 300;
  font-size: 120px;
  margin: 0px;
}
h2 {
  font-family: "America_R";
  font-weight: 100;
  font-size: 70px;
  margin: 0px;
  letter-spacing: 5px;
  text-transform: uppercase;
}
h3{
  font-family: "America_R";
  font-weight: 400;
  font-size: 25px;
  line-height: 45px;
  letter-spacing: 28px;
  margin: 0px;
  text-transform: uppercase;
}
h4 {
  font-family: "America_R";
  font-weight: 400;
  font-size: 22px;
  line-height: 29px;
  letter-spacing: 0.5px;
  margin: 0px;
  text-transform: capitalize;
}
h5 {

}
h6 {
  font-family: "America_R";
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin: 0px;
}
p {
  font-family: "America_R";
  font-weight: 400;
  font-size: 12.5px;
  line-height: 19px;
  letter-spacing: -.25px;
  margin: 0px;
}
/******************************************
/* Base
/*******************************************/
body {
  margin: 15px;
}
a {
  color: black;
}
a:link{
  text-decoration: none;
  color: black;
}
a:hover{
color: transparent;
-webkit-text-stroke-color: black;
-webkit-text-stroke-width: 1.75px;
}
.hide {
  display: none;
}
.show {
  display: inline-block;
}
img {
  margin-bottom: 0px;
}
dt {
  color: transparent;
}
dt::first-letter {
  color: white;
  -webkit-text-stroke-color: #000FFF;
  -webkit-text-stroke-width: 1.75px;
}
/* For testing */
dt:hover {
  color: transparent;
  -webkit-text-stroke-color: #000FFF;
  -webkit-text-stroke-width: 1.75px;
}
/******************************************
/* HOME PAGE
/*******************************************/
#Hey {
  width: 100%;
  text-align: center;
}
#project-desktop {
  display:block;
}
#project-names {
  float: left;
  width: 100%;
  margin-top: 0px;
}
.project-name {
  width: 100%;
  text-align: center;
}
#project-image {
  position: absolute;
  z-index: -2;
  width: 100%;
  height: auto;
}
.pImage {
    position: absolute;
    width: 100%;
}
#project-numbers {
  width: 100%;
  position: absolute;
  bottom: 30px;
  margin: -20px;
}
.project-number {
  float: left;
  text-align: center;
  width: 11.11%;
}
/* HOME PAGE PHONE */
#phone-HP {
  float: left;
  width: 100%;
  margin-top: 0px;
  display: none;
}
.phone-gallery {
  float: left;
  width: 100%;
  display: none;
}
/******************************************
/* Interior Project Pages
/*******************************************/
.go-back {
  position: absolute;
  z-index: 200;
  top: 40%;
}
.go-back-text {
  position: fixed;
  right: 0;
}
.project-text {
  float: left;
  height: 100%;
  width:100%;
}
.project-gallery {
  margin-top: 50px;
  float: left;
  width:100%;
  background: transparent;
}
.parallax-window {
    min-height: 1340px;
    width: 100%;
    background: transparent;
}
.ICO-HP {
  width: 100%;
  padding-top: 10%;
  padding-left: 20%;
  padding-right: 20%;
}

@media (min-width: 1098px) and (max-width: 1320px) {
/******************************************
/* TYPE
/*******************************************/
/******************************************
/* Interior Project Pages
/*******************************************/
.parallax-window {
    min-height: 700px;
    background: transparent;
}
}

@media only screen and (max-width: 1098px) {
/******************************************
/* TYPE
/*******************************************/
h1 {
  font-family: "America_R";
  font-weight: 300;
  font-size: 80px;
  margin: 0px;
}
/******************************************
/* Interior Project Pages
/*******************************************/
  .phone-gallery {
    float: left;
    width: 100%;
    display: block;
  }
  .project-gallery {
    float: left;
    width:100%;
    background: transparent;
    display: none;
  }
  /******************************************
  /* HOME PAGE
  /*******************************************/
  #Hey {
    display: none;
  }
#project-desktop {
  display:none;
}
#bloc #diesel #ico #noat #mit{
  padding-bottom: 45px;
}
#phone-HP {
  float: left;
  width: 100%;
  margin-top: 0px;
  display: block;
}
.project-phone {
  width: 100%;
  text-align: center;
  margin-bottom: 20px;
}
/* CAROUSEL */
.cycle-slideshow {
  width: 100%;
  margin-bottom: 40px;
}
.cycle-slideshow img {
  width: 100%;
  height: auto;
  margin-bottom: 8px;
}
img.cycle-next {
  cursor: not-allowed;
}
figcaption {
  padding-left: 0px;
  padding-right: 10%;
  padding-top: 10px;
}
.cycle-prev {
  left: 0;
  background: url(http://malsup.github.com/images/left.png) 50% 50% no-repeat;
}
.cycle-next {
  right: 0;
  background: url(http://malsup.github.com/images/right.png) 50% 50% no-repeat;
}
.cycle-prev, .cycle-next {
  position: absolute;
  top: 0;
  width: 30%;
  opacity: 0;
  filter: alpha(opacity=0);
  z-index: 800;
  height: 100%;
  cursor: url('https://ibb.co/cc26XS' 2 2, default);
}
.cycle-caption {
  text-align: right;
  margin-top: 6px;
  float: right;
  clear: both;
  font-family: "Presicav";
  font-size: 11px;
}
}

@media only screen and (max-width: 500px) {
/******************************************
/* TYPE
/*******************************************/
h1 {
  font-family: "America_R";
  font-weight: 300;
  font-size: 60px;
  margin: 0px;
}
